.container-fluid {
    background-color: #ffffff;
    color: #000000;
    width: 100%;
    margin: 0 auto;
    padding: 40px;
    box-sizing: border-box;
}

.content {
    display: flex;
    flex-direction: column;
}

.title-section {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 8% 0px;
}

.title {
    font-size: 2rem;
    font-weight: 900;
    margin: 0;
    text-align: center;
    width: 50%;
}

.description {
    width: 50%;
    display: flex;
    
    font-size: 1rem;
    color: #666666;
    line-height: 1.5;
    margin: 0;
}
.description p{
    max-width: 350px;
}

.media-section {
    position: relative;
    width: 100%;
    overflow: hidden;
    /* Prevent content from spilling out */
    margin-bottom: 20px;
    /* Space between sections */
}

.media-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.media-wrapper {
    position: relative;
    overflow: hidden;
}

.media-content {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.two-columns {
    display: flex;
    width: 100%;
    height: 100%;
}

.half-width {
    width: 50%;
    height: 100%;
}

.three-columns {
    display: flex;
    width: 100%;
    height: 100%;
}

.two-thirds {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.half-height {
    height: 50%;
}

.one-third {
    width: 50%;
}

.full-height {
    height: 100%;
}

.media-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: flex-end;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.media-wrapper:hover .media-overlay {
    opacity: 1;
}

.media-title {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}
@media screen and (max-width:600px) {
    .title-section .title,
    .title-section .description{
       width: 100% !important;
       text-align: center;
       justify-content: center;
       text-align: center;
    }
    .title-section{
            margin: 26% 0px !important;
    }
    .title-section .description{
        padding: 20px;
    }
}